[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Bb]ackup/

.vs/
.vscode/
.vsconfig

*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

UpgradeLog.htm
sysinfo.txt
*.stackdump
.vsconfig
*.sln
